<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Webpage</title>
         <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body bgcolor="lightgreen">
<div id="outer">
<div id="menu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Register</a></li>
    </ul>
</div>
    <div id="slider">
        <img src="{% static 'images/s.jpg' %}" width="1000" height="250"/>
    </div>
    <div id="main">
    <div id="left"></div>
        <div id="right"></div></div>
    <div id="footer"></div>
</div>
</body>
</html>